.GaleriaFiltros{
    background-color: #00354D;
    padding: 50px 0;

    &__title{
        text-transform: uppercase;
        font-weight: 200;
        margin: 0;
        font-size: 30px;
        color: #fff;
        margin-bottom: 20px;
    }

    .form-control{
        color: #fff;

        label{
            font-size: 15px;
            margin-bottom: 4px;
            display: block;
        }

        small{
            display: block;
            font-size: 13px;
            margin-right: 4px;
        }

        select, input{
            width: 100%;
            height: 30px;
            color: #484848;
            padding-left: 6px;
        }
    }
}