.PageBanner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 280px;
    width: 100%;
    background-size: cover;
    background-color:gray;
    background-image: url('../../../assets/images/backgrounds/colecao-arte.png');
    overflow: hidden;
    
    &__title{
        font-weight: 200;
        letter-spacing: 1;
        font-size: 110px;
        opacity: .5;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: -34px;
    }
}