@import 'assets/scss/variables/__all.scss';

.HomeSlider{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__content{
        width: 100%;
        height: 100%;
        
        .slick-track{
            @media screen and (max-width: $bp-LG){
                display: flex;
            }
        }

        .slick-slider{
            width: 100%;
            height: 100%;
        }
    }
}