@import 'assets/scss/variables/__all.scss';

.LinhaHeader {
    position: relative;
    background: #00354D;
    padding: 80px 0 90px 0;
    width: 100vw;
    min-width: 100vw;
    z-index: 7;

    @media screen and (max-width: $bp-MD){
        padding: 35px 20px;
    }

    &__title {
        font-size: 35px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.801);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;

        @media screen and (max-width: $bp-MD){
            margin-bottom: 45px;
        }
    }

    &__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.589);

        @media screen and (max-width: $bp-LG){
            padding-bottom: 30px;
            width: 100%;
        }


        .overlay-line {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-50%);
            height: 2px;
            background-color: #fff;
            transition: all 1s cubic-bezier(.81,.42,.33,1);
        }

        &[data-current="0"] {
            .overlay-line {
                width: 0%;

                @media screen and (max-width: $bp-LG){
                    width: 5%;
                }
            }
        }

        &[data-current="1"] {
            .overlay-line {
                width: 33%;
            }
        }
        
        &[data-current="2"] {
            .overlay-line {
                width: 66%;
            }
        }

        &[data-current="3"] {
            .overlay-line {
                width: 100%;
            }
        }

        button {
            position: relative;
            font-size: 20px;
            color: #fff;
            background: none;
            border: none;
            text-align: center;
            padding-top: 44px;
            margin-top: -13px;
            letter-spacing: 0.4px;
            transition: all 0.8s;
            width: 10px;

            span{
                position: absolute;
                transform: translateX(-50%);

                @media screen and (min-width: $bp-LG){
                    white-space: nowrap;

                }
            }

            @media screen and (max-width: $bp-MD){
               font-size: 16px;
            }

            @media screen and (max-width: $bp-MD){
                margin-top: -10px;
            }

            &[data-active="true"] {
                font-weight: bold;
                
                &:after {
                    background-color: #831313;
                    border-width: 2px;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 27px;
                height: 27px;
                background-color: #00354D;
                border-radius: 50%;
                border: 1px solid rgb(255, 255, 255);
                transition-delay: 0.5s;
                transition: all 0.4s;

                @media screen and (max-width: $bp-MD){
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }

}
