.GaleriaArtes {
    &__list {
        display: flex;
        padding-top: 6px;
        margin-left: -15px;
        margin-right: -23px;
    }

    .my-masonry-grid_column {
        &:not(:first-child) {
            border-left: 1px solid rgb(206, 206, 206);
        }
    }

    &__item {
        position: relative;
        margin: 0 25px 15px 15px;
        border-bottom: 1px solid rgb(206, 206, 206);
        cursor: pointer;
        
        &:not(:first-child){
            padding-top: 13px;
        }

        &-img {
            width: 100%;
        }

        &-nome {
            color: #484848;
            margin: 5px 0 5px 0;
            font-size: 18px;
        }

        &-author {
            display: block;
            font-weight: 300;
            margin: 0 0 20px 0;
            font-size: 14px;
        }
    }

    .pagination{
        display: flex;
        justify-content: space-between;
        color: #484848;

        .disabled{
            opacity: 1;
        }
        
        a{
            color: #484848 !important;
            font-weight: 400;
        }

        .first, .last{
            display: none;
        }

        .prev{
            
        }
    }
}
